<footer id="footer">
  <div class="row">
    <p class="contact col-xs-10">+886  2  29375152<br />
      <%=mail_to 'hello@oniondesign.com.tw','hello@oniondesign.com.tw' %>
    </p>
    <div class="col-xs-2 text-right">
      <%=link_to '↑', '#top', class: "gotop" %> 
    </div>
  </div> <!-- /row -->
  <div class="row">
    <div class="col-md-6">
      <p class="copyright">&copy; onion design associates 2019</p>
    </div>
    <div class="col-md-6">
      <div class="social">
        <ul class="list-unstyled">
          <li><%=link_to content_tag(:span,'Facebook'), 'https://www.facebook.com/oniondesign', :target => "_blank" %></li>
          <li><%=link_to content_tag(:span,'Instagram'), 'https://www.instagram.com/onion.design', :target => "_blank" %></li>
          <li><%=link_to content_tag(:span,'Behance'), 'https://www.behance.net/onion', :target => "_blank" %></li>
        </ul>
      </div>
    </div>
  </div> <!-- /row -->
</footer>