<div class="container">
	<div class="category">
		<%= if params["category"]
				link_to content_tag(:span,'All'), projects_path, class: ''
			else
				link_to content_tag(:span,'All'), projects_path, class: 'active'
			end
		%>
		<% @tags = showAllTag %>
		<% @tags.each do |tag|  %>
			<%=
				if params["category"] && params["category"] == tag.name
					link_to content_tag(:span,tag.name), projects_path(category: tag.name), class: 'active'
				else
					link_to content_tag(:span,tag.name), projects_path(category: tag.name)
				end
			%>
		<% end %>
	</div>
	<div id="projects" class="list">
		<% @posts.each do |post| %>
			<div class="project-item col-lg-4">
				<%= link_to "", post, class: "item-link"  %>
				<div class="mask fade">
					<h3 class="project-name"><%=post.title %></h3>
				</div>
				<%= image_tag post.thumb.url, class: 'img-responsive' %>
			</div>
		<% end %>
		<hr class="clear">
		<!-- <nav aria-label="Page navigation" class="text-center">
		  <ul class="pagination justify-content-center">
		    <li class="page-item disabled">
		      <a class="page-link" href="#" tabindex="-1">Previous</a>
		    </li>
		    <li class="page-item"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item">
		      <a class="page-link" href="#">Next</a>
		    </li>
		  </ul>
		</nav> -->
	</div> <!-- /list -->
	<!-- pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 -->
	<%== pagy_bootstrap_nav(@pagy) %>
</div>