<!DOCTYPE html>
<% if I18n.locale == :en %>
<html lang="en">
<% else %>
<html lang="zh-hant">
<% end %>
  <head>
    <title>Hsinhua</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="Description" content="" />
    <meta name="Keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='turbolinks-cache-control' content='no-cache'>
    <!-- <meta name="turbolinks-root" content="/app"> -->
    <meta name="turbolinks-visit-control" content="reload">
    <meta name="author" content="洋蔥設計" />
    <meta name="copyright" content="Onion Design Design" />
    <meta name="google-site-verification" content="xwf3I97n8E0UAJrTb-CGj6tVldUOMv_aG8eyOJvzBQY" />
    <link href="favicon.ico" rel="shortcut icon" />
    <meta property="og:title" content="Hsinhua">
    <meta property="og:site_name" content="Hsinhua"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main id="main" role="main" class="container">
      <%= render "shared/header" %>
      <%= yield %>
      <%= render "shared/footer" %>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
